*.[oa]
*~
*.patch
Makefile
revision.h

.moc/
.libs/
.ui/
lib*.so
lib*.so.*
mesydaqconfig_*.pri
mesydaq.pro.user
qrc_*.cpp

qmesydaq/qmesydaq

test/calibration/calibration
test/colormaps/colormaps
test/countrates/countrates
test/dummy/test1
test/listfile/listfile
test/loadsetup/loadsetup
test/lstohisto/lstohisto
test/mapping/mapping
test/plot/plot
test/readhisto/readhisto
test/readlistfile/readlistfile
test/threads/threads
test/histogramming/histogramming

tools/fixlmfile/fixlmfile
tools/mstd16/mstd16
tools/qmdump/qmdump
tools/qmfire/qmfire
tools/qmlsmod/qmlsmod
tools/qmmaster/qmmaster
tools/qmsetid/qmsetid
tools/qmsetip/qmsetip
tools/simulator/simulator

interfaces/caress/corbadevice.h
interfaces/caress/corbadeviceSK.cpp

