*.[oa]
*~
*.patch
*.orig
*.rej
*.zip
*.tar
*.tar.gz
*.tar.bz2
Makefile
Makefile.Debug
Makefile.Release
revision.h
version

data/
configs/
release/
debug/
.moc/
.libs/
.ui/
lib*.so
lib*.so.*
lib*.prl
mesydaqconfig_*.pri
mesydaq.pro.user
qrc_*.cpp

qmesydaq/qmesydaq

test/calibration/calibration
test/colormaps/colormaps
test/countrates/countrates
test/dummy/test1
test/listfile/listfile
test/loadsetup/loadsetup
test/lstohisto/lstohisto
test/mapping/mapping
test/plot/plot
test/readhisto/readhisto
test/readlistfile/readlistfile
test/threads/threads
test/histogramming/histogramming
test/ipaddresswidget/ipaddresswidget
test/timespectrum/timespectrum
test/inspect/inspect
test/input/input
test/input/fast_sender
test/input2/input2
test/input3/input3
test/input4/input4
test/input5/input5
test/input6/input6
test/input12/input12
test/input22/input22
test/input32/input32
test/fill/fill

tools/fixlmfile/fixlmfile
tools/mstd16/mstd16
tools/qmdump/qmdump
tools/qmfire/qmfire
tools/qmlsmod/qmlsmod
tools/qmmaster/qmmaster
tools/qmsetid/qmsetid
tools/qmsetip/qmsetip
tools/simulator/simulator

interfaces/caress/corbadevice.h
interfaces/caress/corbadeviceSK.cpp

qled/example/example
qled/example/moc_dialog.cpp
qled/example/ui_dialog.h
qled/plugin/moc_qledplugin.cpp
qled/src/moc_qled.cpp

gmon.out
